<style>
/* css 변수(variables) */
:root {
  /* --default-font-size: 14px; */
  /* --default-width: 850px; */
}

body {
  
  width: 850px;

  /* 전체 컨텐트 중앙 정렬 , 위/아래는 0으로, 좌우는 균등배분 으로...*/
  margin: 0 auto;
  /* 폰트 적용 */
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.45;
}

/* 전체 요소에 대해서 border-box */
* {
  /* box-sizing: 엘리먼트 크기계산을 보더 영역까지 */
  box-sizing: border-box;
}

nav {
  /* position: absolute, fixed, sticky; */
  /* top, left, bottom, right: 중에 1개 */
  /* sticky는 스크롤 영역 안에서 static, 스크롤 영역 밖으로 나가면 fixed 처럼 */
  position: sticky;
  top: 75px;
  border: 1px solid #ffd280;
  background-color: #ffc06e;
  border-radius: 10px 10px;
}

ul {
  /* font-size: 16px; */
  text-align: center;
}

nav>ul>li {
  display: inline;
  /* 각 li 요소 사이에 간격 설정 */
  margin-left: 25px;
  margin-right: 25px;
}

/* hover: 마우스커서를 올렸울때 */
nav>ul>li:hover {
  background-color: yellow;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  width: 95%;
}

th {
  text-align: center;
  border-bottom: 2px solid black;
}

td {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* tbody 태그 안의 tr 중 홀수번째만 */
tbody>tr:nth-of-type(2n-1) {
  background-color: #fff8e8;
}
tbody>tr:hover {
  background-color: yellow;
  font-weight: bold;
}

/* 자식결합자(>) : <header>요소 바로 아래에 위치하는 모든 <div>요소에 적용  */
header>div {
  color: #232323;
  background: #fff8e8;
  padding: 5px 10px;
  /* border-left: solid 15px #ffc06e; */
  /* border-right: solid 15px #ffc06e; */
  text-align: center;
}

/* 자손결합자(공백) : <section>요소안에 위치하는 모든 <h2>요소에 적용 */
section h2 {
  color: #000000;
  /* background-color: #d69f7e; */
  height: 40px;
  padding-top: 5px;
  padding-left: 15px;
  text-align: center;
}

/* id가 section-layout 인 경우 적용 */
#section-layout {
  background-color: #FBEDE8;
  padding-left: 5%;
  padding-top: 2%;
}

/* class가 recipe인 경우 적용 */
.recipe {
  text-align: center;
}

.recipe-image {
  width: 90%
}

/* class가 text-bold인 경우 적용 */
.text-bold {
  /* 최상위 html font-size(16px)의 1.5배 (반응형 웹 디자인에 유용) */
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
}

/* class가 gotop인 경우 적용 */
.gotop {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 780px;
}

/* href 속성 있는 요소에만 적용*/
a:link {
  text-decoration: none;
  color: dodgerblue;
}

/* hover: 마우스커서를 올렸울때 */
/* a:hover {
  background-color: yellow;
} */

footer {
  text-align: center;
}

aside>div {
  text-align: center;
  border: 1px solid darkgray;
}

.ad {
  width: 70%;
}
</style>