    /* grid 이름 정의 */
    header {
      grid-area: header;
    }

    nav {
      grid-area: nav;
      height: fit-content;
    }

    .banner {
      grid-area: banner;
    }

    article {
      grid-area: content;
      height: fit-content;
      text-align: center;
    }

    article div {
      margin: 10px 20px;
    }


    aside {
      grid-area: sidebar;
      height: fit-content;
    }

    footer {
      grid-area: footer;
    }

    header,
    nav,
    .banner,
    nav,
    article,
    aside,
    hr,
    footer {
      background-color: rgb(255, 255, 255);
      border: 2px solid #937062;
    }

    header {
      color: #F5F5F5;
      background: #937062;
      border-radius: 0px 0px 30px 30px;
      /* 최상위 html font-size(16px)의 1.5배 (반응형 웹 디자인에 유용) */
      font-size: 1.1rem;
    }

    hr {
      margin: 0.5em 0.5em;
      border: 1px solid #937062;
    }

    nav {
      border: 3px solid #937062;
      background-color: #EFDCD4;
      border-radius: 30px 30px;
      box-shadow: 10px 10px 10px rgb(128, 128, 128);
      font-size: 1.2rem;
    }

    h3,
    li {
      text-align: left;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th {
      text-align: center;
      border-bottom: 2px solid black;
    }

    td {
      text-align: center;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }

    /* tbody 태그 안의 tr 중 홀수번째만 */
    tbody>tr:nth-of-type(2n-1) {
      background-color: #fff8e8;
    }

    tbody>tr:hover {
      background-color: lightgoldenrodyellow;
      font-weight: bold;
    }

    /* small */
    body {
      display: grid;
      gap: 20px;
      grid-template-areas:
        "header"
        "nav"
        "banner"
        "content"
        "sidebar"
        "footer";

      /* 폰트 적용 */
      font-family: 'Nanum Gothic', sans-serif;
      line-height: 1.45;
      color: rgb(147, 112, 98);
      background-color: rgb(255, 255, 255);

      /* no-repeat center cover */
      background-repeat: no-repeat;
      background-position: center;

      /* cover; => 이미지 비율에 맞게 잘라줌 */
      background-size: cover;
      background-image: url(../img/photo-2.avif);
    }

    article {
      background-color: #FBEDE8;
      border-radius: 10px 10px;
      box-shadow: 50px 50px 80px rgb(128, 128, 128);
    }

    img {
      width: 95%
    }

    a {
      color: #937062;
      text-decoration: none;
      font-weight: 700;
    }

    aside {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }


    /* medium */
    @media (min-width: 768px) {
      body {
        width: 700px;
        margin: 0 auto;
        grid-template-columns: 2fr 5fr;
        grid-template-areas:
          "header   header"
          "banner   banner"
          "nav      nav"
          "sidebar  content"
          "footer  footer";
      }

      nav ul {
        display: flex;
        justify-content: space-evenly;
      }

      aside {
        display: flex;
        height: 210px;
        flex-direction: column;
        justify-content: space-evenly;
      }

    }

    /* large */
    @media (min-width: 1200px) {
      body {
        width: 1200px;
        margin: 0 auto;
        grid-template-columns: 3fr 7fr 2fr;
        grid-template-areas:
          "header header  header"
          "banner banner  banner"
          "nav    content sidebar"
          "footer footer  footer"
      }

      nav {
        position: sticky;
        top: 1rem;
      }

      nav ul {
        flex-direction: column;
      }

      aside {
        display: flex;
        height: 210px;
        flex-direction: column;
        justify-content: space-evenly;
      }

      footer {
        text-align: center;
        color: black;
        border-style: none;
      }

    }
